.attraction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  // margin: 20px 0;
  padding: 13px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
}
.back {
  align-self: flex-end;
}
.img {
  flex: 1;
  margin: 10px;
}

.info {
  flex: 2;
}
.controls {
  align-self: flex-end;
  color: #777;
  a {
    margin-left: 8px;
  }
}
.subinfo {
  align-self: flex-start;
  font-size: 0.8rem;
  color: #b1b1b1;
}
@media (max-width: 600px) {
  .attraction {
    flex-direction: column;
    text-align: center;
  }

  .info {
    margin-bottom: 20px;
  }
}
