@tailwind base;
@tailwind components;
@tailwind utilities;

.card-body {
  padding: var(--padding-card, 1rem);
}
html {
  background: #f5f5f4;
}
h1 {
  font-size: 2rem;
  line-height: 3.6rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-transform: uppercase;
}
h2 {
  font-size: 1.8rem;
  line-height: 3.6rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
}
h3 {
  font-size: 1.6rem;
  line-height: 3.2rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
