@tailwind base;
@tailwind components;
@tailwind utilities;

.card-body {
  padding: var(--padding-card, 0.8rem);
  overflow: hidden;
  p {
    font-size: 0.8rem;
  }
}
.card-title {
  font-size: 1rem;
}
:root {
  background-color: #ffffff;
}
h1 {
  font-size: 2rem;
  line-height: 3.6rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  text-transform: uppercase;
}
h2 {
  font-size: 1.8rem;
  line-height: 3.6rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
}
h3 {
  font-size: 1.6rem;
  line-height: 3.2rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1.2rem;
}

.btn,
.card {
  @apply rounded-none;
}

.input,
.textarea {
  @apply rounded-none;
  background-color: #ffffff;
  color: #3b4949;
}
